body {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
      text-align: center;

      h2 {
        color: white;
        text-align: center;
        font-size: 22px;
      }
    }

  }

  .btnBox {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    display: flex;

    a {
      all: unset;
      margin: 5px;

      .closeBtn {
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        font-size: 30px;
        text-align: center;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        flex-wrap: wrap;

        p {
          font-size: 10px;
        }
      }
    }
  }

  main {
    width: max-content;
    display: flex;
    height: 80%;
    border-radius: 5px;

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: none;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }

    background: rgba(0, 0, 0, 0.42);
    padding: 20px;

    .col {
      color: #ffffff;
      display: flex;
      align-items: center;
      margin-left: 50px;
      margin-right: 50px;
      flex-wrap: wrap;
      flex-direction: column;
      table{
        tr,td{
          border: black 1px solid;
          padding: 3px;
        }
      }
      div {
        margin: 10px;

        a {
          all: unset;
          font-size: 20px;
          cursor: pointer;
          text-decoration: underline;
        }
      }

      h1 {
        font-size: 25px;
      }

      a {
        all: unset;

        button {
          all: unset;
          padding: 5px;
          margin: 20px;
          background: rgba(79, 79, 79, 0.7);
          cursor:pointer;
        }
      }

      form {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h1 {
          font-size: 25px;
          margin: 3px;
          color: #ffffff;
        }

        input {
          all: unset;
          justify-self: center;
          width: 90%;
          padding: 5px;
          background: rgba(79, 79, 79, 0.7);
          color: #ffffff;
          margin: 5px;
        }

        p {
          width: 90%;
          text-align: right;
          margin-top: 10px;
          color: white;

          a {
            cursor: pointer;
          }

          input[type=submit] {
            width: 50px;
            margin: -5px;
            margin-left: 5px;
          }
        }
      }

    }

    #livesearch {
      width: 100%;

      .point {
        margin: 0px;
        background: rgba(79, 79, 79, 0.7);
        width: 100%;
        cursor: pointer;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 3px;
      }
    }

  }

  .selectBox {
    height: max-content;
    width: 25%;
    min-width: 400px;

    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h1 {
        font-size: 25px;
        margin: 3px;
        color: #ffffff;
      }

      input {
        all: unset;
        justify-self: center;
        width: 90%;
        padding: 5px;
        background: rgba(79, 79, 79, 0.7);
        color: #ffffff;
        margin: 5px;
      }

      p {
        width: 90%;
        text-align: right;
        margin-top: 10px;
        color: white;

        a {
          cursor: pointer;
        }

        input[type=submit] {
          width: max-content;
          margin: -5px;
          margin-left: 5px;
        }
      }
    }
  }

  .git {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.5);
  }

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}